*{
  margin:0;
  padding: 0;
  font-family: sans-serif;
}
body{
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
  z-index: 1;
}
.heading {
  font-size: 3rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000;
  margin: 80px 0;
  text-decoration: underline #e19f1e;
}
.img-gallery {
  width: 80%;
  margin:80px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.img-gallery img{
  width: 100%;
  cursor: pointer;
  transition: .5s;
}
.img-gallery img:hover{
  background-color: #F00000;
  border-radius: 20px;
  box-shadow:  0 32px 75px rgba(56,78,90,88);
}
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
/*Start of Footer section */
#footersection {
  background-color: #000;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-basis: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  animation: transitionIn 0.75s;

}

#footersection .brand h2,h3,p {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#footersection .brand h3{
    color: red;
}
 #footersection .footer{
    min-height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
#footersection .footer-icon {
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        align-items:center;
        padding: 20px;
        margin: 0 auto;
        margin-left: 10px;
        font-size: 50%;
        text-align: center;

}
#footersection .footer-copy{
  text-align: center;
}
#footersection .brand h2:nth-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-size: 2rem;
}
#footersection .brand h2:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color:#e19f1e;

}
#footersection p{
  font-size: 1.3rem;
  color: #fff;
  width: 100%;
  margin-bottom: 0;
}
#footer .footer-icon:hover img {
	filter: grayscale(0);
}
/*End of Footer section */
