@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.all-title{
    font-size: 3.5rem;
    margin-bottom: 5px;
      font-weight: normal;
      color: #000;
}
/* Nav Bar  */
/* Nav Bar  */
#nav-bar {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: black;
}
.nav-bar {
	background-color: black;
	left: 0;
	top: 0;
	padding: 1rem 3rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-bar .brand a {
	font-family: 'Flash Back - Demo', sans-serif;
	font-size: 2rem;
	color: white;
  text-decoration: none;

}
.nav-bar .nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-bar .nav-list .hamburger {
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	transition: .3s ease transform;
	cursor: pointer;
}
.nav-bar .nav-list .hamburger.active {
	transform: rotate(360deg);
}
.nav-bar .nav-list .hamburger.active .bar:before {
	top: 0;
	transform: rotate(45deg);
}
.nav-bar .nav-list .hamburger.active .bar:after {
	top: 0;
	transform: rotate(-45deg);
}
.nav-bar .nav-list .hamburger.active .bar {
	background-color: transparent;
}
.nav-bar .nav-list .hamburger .bar {
	height: 2px;
	width: 30px;
	background-color: white;
	position: relative;
	display: flex;
}
.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	transition: .3s ease all;
}
.nav-bar .nav-list .hamburger .bar::before {
	top: 8px;
}
.nav-bar .nav-list .hamburger .bar::after {
	bottom: 8px;
}
.nav-bar .nav-list ul {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgb(46, 45, 45);
	padding: 5rem 0;
	transform: translateY(-100%);
	transition: .3s ease transform;
	text-align: center;
	z-index: -1;
}
.nav-bar .nav-list ul li {
	list-style: none;
	display: block;
	position: relative;
}
.nav-bar .nav-list ul li:hover:after {
	transform: translateX(-50%) scale(1);
}
.nav-bar .nav-list ul li:after {
	content: '';
	position: absolute;
	width: 5rem;
	height: .2rem;
	background-color: white;
	left: 50%;
	transform: translateX(-50%) scale(0);
	bottom: 0;
	transition: .3s ease transform;
}
.nav-bar .nav-list ul li a {
	font-size: 1.8rem;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	display: block;
	letter-spacing: .15rem;
	padding: 2rem 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.nav-bar .nav-list.open ul {
	transform: translateY(70px);
}
/* End Nav Bar */

/* End Nav Bar */

/*Start of hero section */



#herosection{
  /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(images/profile.jpg); */
  background-color: #000;
  background-position:center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
    animation: transitionIn 0.75s;
    position: relative;
}

#herosection h1{
  color: white;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 50px;
  position: absolute;
  top: 100px;

}
#herosection h2{
  color: white;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 10px;
  position: absolute;
  top: 200px;
}
#herosection h3{
  color: #000;
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 20px;
  position:relative;
  -webkit-text-stroke:3rem #GREY;
  position: absolute;
  top: 260px;
}
#herosection h3::before{
  content: attr(data-text);
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  color: #fff;
  -webkit-text-stroke:3rem #red;
  border-right: 2px solid #fff;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
#herosection span{
  color:#fff;
  font-weight: bolder;

}

#herosection .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	flex-direction: column;
  align-items: center;

}
#herosection a{

    padding:10px 30px;
    font-size: 2rem;
    text-decoration: none;
    color:#e19f1e;

}

#herosection button {
    transition: all .5s ease;
    color:#e19f1e;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
#herosection button:hover {
    color: #001F3F;
    background-color: #fff;
}
.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #fff;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #fff;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

/*Start of About section */

/*Start of About section */
#aboutsection {

    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-basis: 80%;
    animation: transitionIn 0.75s;


}
#aboutsection .about {
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0px;
}
#aboutsection .about-top{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;

}

#aboutsection .about-top p{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: justify;
  padding: 0px 20px;
}
#aboutsection a{
  margin-bottom: 10px;
}
#aboutsection .about-bottom {
  margin-top: 20px;
  width: 300px;
  height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    border-radius: 10px;
      z-index: -1;
        overflow: hidden;
        flex-direction:column;
      }
#aboutsection .about-bottom img{
  width: 300px;
  height: 300px;
  z-index: 1;
  margin-top: 20px;
  border-radius: 10px;

}
#aboutsection a{
  padding:10px 30px;
  font-size: 2rem;
  text-decoration: none;
  color: #e19f1e;
}

#aboutsection button {
    transition: all .5s ease;
    color:#e19f1e;
    border: 3px solid #000;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
#aboutsection button:hover {
    color: #001F3F;
    background-color: #000;
}
/*End of About section */

/*Start of project section */
/* #projectsection {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-basis: 80%;
  animation: transitionIn 0.75s;
}
 #projectsection .project{
  padding: 10px 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#projectsection .project-top{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 20px;
}
#projectsection .project-title{
  font-size: 3.5rem;
  margin-bottom: 10px;
    font-weight: normal;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
}
#projectsection .project-bottom{
  margin-top: 50px;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;  border-radius: 10px;
    margin-bottom: 10px;
}
#projectsection img{
  max-width: 1200px;
  width: 100%;
  height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    border-radius: 10px;
}
#projectsection img:hover{
  color: red;
}
#projectsection .project-bottom .project-img h2{
  text-align: center;
  background-color: #E8E8E8;
  border-radius: 25px;
}
#projectsection  .project-bottom .project-img {
  margin-bottom: 40px;
  transition: .5s;
}
#projectsection .project-bottom .project-img:hover{
  color: #e19f1e;
} */

#projectsection {
  background-color: #000;
  margin-top: -300PX
}
#projectsection .project{
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin:0 auto;
  padding: 0px 0;

}
#projectsection .projecttop .all-title{
  margin-bottom: 30px;
  color: #fff;
}
#projectsection .project-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#projectsection .project-item{
  flex-basis:80%;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-size: cover;
  margin:10px 5%;
  position: relative;
  z-index: 1;
    height: 400px;
  overflow: hidden;
  transition: .5s;
  cursor: pointer;

}
#projectsection .project-item:hover
{
  background-color: #000;
  border-radius: 20px;
  box-shadow:  0 32px 50px 10px rgba(56,78,90,88);
  transform: translateY(-50px);
}
#projectsection .project-item:hover .head{
  color: red;
}
#projectsection .project-item img{
  width: 100%;
}
#projectsection .project-bottom .project-item h2{
  color: #e19f1e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-transform:uppercase;
}
#projectsection .project-item p{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
    text-transform: capitalize;
    transition: .5s;
    font-family:cursive;
}
#projectsection .project-item p a{
  text-decoration: none;
  color: #000;
      transition: .5s;
}
#projectsection .project-item:hover p a{
  color: #fff;
}

#projectsection  .project-bottom .project-item .p{
  color: #red;
}
#projectsection .project-item::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: .4;
  z-index: -1;
}
/* #projectsection .project-item img{
  animation-name: slide;
        animation-duration: 10s;
        animation-direction:normal;
        animation-timing-function:ease;
        animation-iteration-count: infinite;
} */

/*Start of Footer section */
#footersection {
  background-color: #000;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-basis: 80%;
  padding-top: 50px;
  /* padding-bottom: 30px; */
  animation: transitionIn 0.75s;

}

#footersection .brand h2,h3,p {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#footersection .brand h3{
    color: red;
}
 #footersection .footer{
    min-height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
#footersection .footer-icon {
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        align-items:center;
        padding: 20px;
        margin: 0 auto;
        margin-left: 10px;
        font-size: 50%;
        text-align: center;

}
#footersection .footer-icon:hover{
color: yellow;
}
#footersection .footer-copy{
  text-align: center;
}
#footersection .brand h2:nth-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-size: 2rem;
}
#footersection .brand h2:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color:#e19f1e;

}
#footersection p{
  font-size: 1.3rem;
  color: #fff;
  width: 100%;
  margin-bottom: 0;
}
.designer p{
 padding-top: 5px;
 font-size: 1.3rem;
 color: #fff;
 width: 100%;
}

#footer .footer-icon:hover img {
	filter: grayscale(0);
}
/*End of Footer section */


/* keyframes */

@keyframes animate {
      0%,10%,100%{
        width: 0;
      }
      70%,90%{
        width: 100%;
      }
}
@keyframes slide {
  0% {
    background-position: 0 0;
  }
  /* 16.66% {
    background-position: 0 0;
  }
  33.32% {
    background-position: -800px 0;
  }
  49.98% {
    background-position: -800px 0;
  }
  66.64% {
    background-position: -1600px 0;
  }
  83.30% {
    background-position: -1600px 0;
  } */
  50%{
    background-position: -500 0;
  }
  83.30% {
    background-position: -1900px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

@media only screen and (min-width: 768px) {
	.nav-bar .nav-list .hamburger {
		display: none;
	}
  .nav-bar .bar .ul{
    margin: 20px;
  }
	.nav-bar {
		width: 100%;
	}
	.nav-bar .nav-list ul {
		transform: translateX(0);
		position: initial;
		padding: 0;
		z-index: initial;
		background-color: transparent;
	}
	.nav-bar .nav-list ul li {
		display: inline-block;
    justify-content: space-between;
	}
@media only screen and (min-width: 768px) {
  #herosection h1{
    font-size: 4rem;
  }
    #herosection h2{
          font-size: 4.5rem;
    }
    #herosection h3{
          font-size: 5rem;
    }
  .all-title{
    font-size: 4.5rem;
  }
  #aboutsection .about-top p{
    font-size: 1.5rem;
  }
  #projectsection .project-item{
    width:  200px;


}
      #projectsection .project-bottom .project-item{
        flex-basis: 45%;
        margin: 1.5%;
      }
}
